@media (max-width:992px){
     #carGarage {
        display: unset;
     }   
    
    .info-car {
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .info-car h1 {
        width: 90%;
        max-width: 500px;
        font-weight: 900;
        background: #0f0c29;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
    }

    .info-car p {
        width: 40%;
    }

    .ankle-info {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-car {
        width: 100%;
    }

    .details-cards {
        padding: 20px;
        gap: 0;
        height: 350px;
    }

    .button-85 {
        width: 100%;
        height: 40px;
    }

    h2,  {
        background: #0f0c29;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
    }

    .cards-but {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        gap: 8px;
    }
}




