@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap&family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

:root {
  --text-color: #2980b9;
  --background: #717a83;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Poppins", "sans-serif";
}

/* nav bar */

header {
  background: #2980B9;
  background: -webkit-linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9);
  background: linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 70px;
  padding: 0 30px 0 30px;
  position: fixed;
  top: 0;
}

.logo {
  width: 80px;
  margin-left: 50px;
}

.nav-bar,
.nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-bar {
  gap: 120px;
  width: 100vw;
}

.nav-list {
  gap: 20px;
}

.nav-list a {
  color: black;
  font-size: 14px;
  font-weight: 400;
}

.nav-list li:first-child > a {
  color: black;
  font-weight: 600;
}

.cart-icon {
  height: 40px;
  border: 1px solid black;
  padding: 10px 18px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  margin-right: 50px;
}

main {
  background: var(--text-color);
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 150px;
  background: -webkit-linear-gradient(to bottom, #FFFFFF, #6dd5fa, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Info card */

#carGarage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85vw;
  margin-bottom: 20px;
  max-width: 1200px;
}

.info-car {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  gap: 40px;
  padding: 10px;
}

.info-car h1 {
  font-size: 50px;
  width: 100%;
  font-weight: 900;
}

.info-car p {
  font-size: 20px;
  width: 80%;
  padding: 10px;
}

.ankle-info {
  display: flex;
  gap: 20px;
  width: 400px;
  font-weight: 700;
}

.ankle-info a {
  color: black;
  background-color: beige;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 10px;
  text-align: center;
  width: 40%;
}

.img-car {
  width: 60%;
}

.img-car img {
  width: 100%;
}

/* informacion adicional  */

.description {
  background-color:(to bottom, #FFFFFF, #6dd5fa, #2980B9);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100vw;;
  gap: 30px;
  margin-top: 7%;
  max-width: 1200px;
}

.description h2{
  padding: 20px;
  margin-bottom: 80px;
}

.description-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 100%;
}

.body-styles{
  width: 300px;
}

.body-styles img {
  width: 100%;
}

.body-styles h6 {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
}


.body-styles:hover {
  animation: scale 2s infinite;
}

@keyframes scale {
  0% {
    transform: scale(1)
  }
  100% {
    transform: scale(1.1);
  }
}


/* Mas informacion */

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 1200px;
  margin-top: 7%;
  margin-bottom: 5%;
}

.details-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.details-info h2 {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 30px;
}

.details-info p {
  width: 300px
  
}

.details-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 20px;
  height: 420px;
  width: 100%;
  gap: 30px;
}

.details-cards img:hover {
  animation: scale 2s infinite;
}

@keyframes scale {
  0% {
    transform: scale(1)
  }
  100% {
    transform: scale(1.1);
  }
}

.cards-but{
  display: flex;
  gap: 30px;
}


.cards-but h3 {
}

.material-symbols-outlined {
  padding: 5px;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  cursor: pointer;
}

.button-85 {
  padding: 0.8em 1.2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    blue,
    #00ffd5,
    #002bff,
    #7a00ff,
    lightblue,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}


.explain-cards {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-top: 10%;
  max-width: 1140px;
}

.details-cards img {
  width: 120%;
  padding: 20px;
}


.contact {
  display: flex;
  gap: 100px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-info h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 15px;
  font-size: 20px;
}

.contact-us h3 {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: 800;
}

.icon-footer {
  width: 25px;
}

.footer-info {
  display: flex;
  gap: 20px 5px;
}

.footer-social {
  display: flex;
  width: 30px;
  gap: 20px;
  padding: 0 35px;
}

.footer-social img {
  width: 30px;
  margin-top: 40px;
}

.img-social img {
  width: 200px;
}

footer span {
  font-weight: 700;
}

footer {
  text-align: center;
  background: #2980B9;
  background: -webkit-linear-gradient(to bottom, #FFFFFF, #6DD5FA, #2980B9);
  background: linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9);
}
